<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Изучение-общей-информации-о-данных" data-toc-modified-id="Изучение-общей-информации-о-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Изучение общей информации о данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Удаление-пропусков-(продолжение)" data-toc-modified-id="Удаление-пропусков-(продолжение)-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Удаление пропусков (продолжение)</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#Исследовательский-анализ" data-toc-modified-id="Исследовательский-анализ-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследовательский анализ</a></span><ul class="toc-item"><li><span><a href="#Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Зависимость между количеством детей и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Зависимость между семейным положением и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Зависимость между уровнем дохода и возвратом кредита в срок</a></span></li><li><span><a href="#Влияние-разных-целей-кредита-на-его-возврат-в-срок" data-toc-modified-id="Влияние-разных-целей-кредита-на-его-возврат-в-срок-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Влияние разных целей кредита на его возврат в срок</a></span></li><li><span><a href="#Возможные-причины-появления-пропусков-в-исходных-данных" data-toc-modified-id="Возможные-причины-появления-пропусков-в-исходных-данных-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Возможные причины появления пропусков в исходных данных</a></span></li><li><span><a href="#Почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных" data-toc-modified-id="Почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных</a></span></li></ul></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Общий вывод</a></span></li></ul></div>

# Исследование надежности заемщиков

**Описание проекта**

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

**Цель исследования**: 

Определить, влияют ли на погашение кредита в срок следующие факторы:

* семейное положение клиента;
* количество детей у клиента;
* уровень дохода клиента;
* цель кредита.


**Ход исследования**:

* Изучение полученных данных.
* Предобработка данных.
* Проверка гипотез и выводы.
* Итоги исследования.

## Изучение общей информации о данных

Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраним в переменную `data`.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/projects/creditworthiness.csv')

Выведем первые 20 строчек датафрейма `data` на экран.

In [3]:
display(data.head(20))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Просмотрев 20 строк уже можно сделать несколько замечаний по таблице:
* в столбце days_employed есть отрицательные значения;
* в столбце education информация написана в разном формате(встречаются как прописное, так и строчное написание слов).Необходимо привести к единому формату;
* в столбце total_income есть пропущенные значения.

Выведем основную информацию о датафрейме с помощью метода `info()`.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

В столбцах days_employed и total_income есть пропуски.

## Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждого столбца. Используем комбинацию двух методов.

In [5]:
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце обработаем на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [6]:
for d in data['income_type'].unique():
    data.loc[(data['income_type'] == d) & (data['total_income'].isna()),\
    'total_income'] = data.loc[(data['income_type'] == d), 'total_income'].median()

### Обработка аномальных значений

В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.

In [7]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [8]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть.

Выведем перечень уникальных значений столбца `children`.

In [9]:
display(data['children'].unique())

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Ещё раз выведем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [11]:
display(data['children'].unique())

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

Заполним пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.

In [12]:
for d in data['income_type'].unique():
    data.loc[(data['income_type'] == d) & (data['days_employed'].isna()), 'days_employed'] = data.loc[(data['income_type'] == d),\
    'days_employed'].median()

Убедимся, что все пропуски заполнены. Проверим себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.

In [13]:
data.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [14]:
data['total_income'] = data['total_income'].astype('int')

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру.

In [15]:
data['education'] = data['education'].str.lower()

Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.

In [16]:
display(data.duplicated().sum())

71

In [17]:
data = data.drop_duplicates(keep = 'first')

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используем собственную функцию с именем `categorize_income()` и метод `apply()`.

In [18]:
def categorize_income(row):
    total_income = row['total_income']
    if total_income <= 30000:
        return 'E'
    if 30001 <= total_income <= 50000:
        return 'D'
    if 50001 <= total_income <= 200000:
        return 'C'
    if 200001 <= total_income <= 1000000:
        return 'B'
    if total_income >= 1000001:
        return 'A'

In [19]:
data['total_income_category'] = data.apply(categorize_income, axis = 1)

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [20]:
display(data['purpose'].unique())

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используем собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучим данные в столбце `purpose` и определим, какие подстроки помогут правильно определить категорию.

In [21]:
def categorize_purpose(row):
    purpose = row['purpose']
    if 'образов' in purpose:
        return 'получение образования'
    if 'свад' in purpose:
        return 'проведение свадьбы' 
    if 'автомоб' in purpose:
        return 'операции с автомобилем'
    return 'операции с недвижимостью'

In [22]:
data['purpose_category'] = data.apply(categorize_purpose, axis = 1)

In [23]:
display(data.head())

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

## Исследовательский анализ

### Зависимость между количеством детей и возвратом кредита в срок

Создадим датафрейм.

In [24]:
relat_child_debt = pd.DataFrame()

Создадим новый столбец group_child_count в таблице relat_child_debt. В данном столбце будет отображатся общее количество людей в каждой группе(относительно количества детей).

In [25]:
relat_child_debt['group_child_count'] = data.groupby('children')['debt'].count()

Создадим новый столбец debtors_count в таблице relat_child_debt. В данном столбце будет отображатся количество задолжников в каждой группе.

In [26]:
relat_child_debt['debtors_count'] = data.groupby('children')['debt'].sum()

Создадим новый столбец share_debtors в таблице relat_child_debt. В данном столбце будет отображатся доля задолжников от общего количества людей в каждой группе.

In [27]:
relat_child_debt['share_debtors'] = relat_child_debt['debtors_count'] / relat_child_debt['group_child_count']

Выведем на экран таблицу relat_child_debt, сортировав данные по количеству детей (в порядке возрастания).

In [28]:
display(relat_child_debt.sort_values(by = 'children',ascending = True))

          group_child_count  debtors_count  share_debtors
children
0                     14091           1063       0.075438
1                      4808            444       0.092346
2                      2052            194       0.094542
3                       330             27       0.081818
4                        41              4       0.097561
5                         9              0       0.000000

**Вывод:**  Исходя из таблицы relat_child_debt можно сделать вывод, что количество детей влияет на возврат кредита в срок. Люди, у которых нет детей реже имеют задолженности по кредитам, чем люди с детьми. С увеличением количества детей растет и доля задолженности по кредитам. Однако люди с пятью детьми вообще не имеют проблем с возвратом кредитов в срок. Я думаю, что такая ситуация возникла из-за неравномерной выборки. Если бы общее количество людей в каждой группе было одинаковым, то выводы были бы точнее.

### Зависимость между семейным положением и возвратом кредита в срок

Создадим датафрейм

In [29]:
relat_family_debt = pd.DataFrame()

Создадим новый столбец group_family_count в таблице relat_family_debt. В данном столбце будет отображатся общее количество людей в каждой группе.

In [30]:
relat_family_debt['group_family_count'] = data.groupby('family_status')['debt'].count()

Создадим новый столбец debtors_count в таблице relat_family_debt. В данном столбце будет отображатся количество задолжников в каждой группе.

In [31]:
relat_family_debt['debtors_count'] = data.groupby('family_status')['debt'].sum()

Создадим новый столбец share_debtors в таблице relat_family_debt. В данном столбце будет отображатся доля задолжников от общего количества людей в каждой группе.

In [32]:
relat_family_debt['share_debtors'] = relat_family_debt['debtors_count'] / relat_family_debt['group_family_count']

Выведем на экран таблицу relat_family_debt, сортировав данные по доле задолжников (в порядке возрастания).

In [33]:
display(relat_family_debt.sort_values(by = 'share_debtors',ascending = True))

                       group_family_count  debtors_count  share_debtors
family_status
вдовец / вдова                        951             63       0.066246
в разводе                            1189             84       0.070648
женат / замужем                     12261            927       0.075606
гражданский брак                     4134            385       0.093130
Не женат / не замужем                2796            273       0.097639

**Вывод:**  Проанализировав данные таблицы relat_family_debt можно сделать вывод, что семейное положение влияет на возврат кредита в срок. Вдовцы и люди в разводе чаще выплачивают кредит в срок. Люди, живущие гражданиским браком и неженатые чаще всего имеют просрочку по возврату кредита в срок.

### Зависимость между уровнем дохода и возвратом кредита в срок

Диапазон значений в столбце total_income_category (уровень дохода)
- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

Создадим датафрейм.

In [34]:
relat_income_debt = pd.DataFrame()

Создадим новый столбец group_income_count в таблице relat_income_debt. В данном столбце будет отображатся общее количество людей в каждой группе.

In [35]:
relat_income_debt['group_income_count'] = data.groupby('total_income_category')['debt'].count()

Создадим новый столбец debtors_count в таблице relat_income_debt. В данном столбце будет отображатся количество задолжников в каждой группе.

In [36]:
relat_income_debt['debtors_count'] = data.groupby('total_income_category')['debt'].sum()

Создадим новый столбец share_debtors в таблице relat_income_debt. В данном столбце будет отображатся доля задолжников от общего количества людей в каждой группе.

In [37]:
relat_income_debt['share_debtors'] = relat_income_debt['debtors_count'] / relat_income_debt['group_income_count']

Выведем на экран таблицу relat_income_debt, сортировав данные по доле задолжников (в порядке возрастания).

In [38]:
display(relat_income_debt.sort_values(by = 'total_income_category',ascending = False))

                       group_income_count  debtors_count  share_debtors
total_income_category
E                                      22              2       0.090909
D                                     349             21       0.060172
C                                   15921           1353       0.084982
B                                    5014            354       0.070602
A                                      25              2       0.080000

**Вывод:**  Люди с уровнем дохода меньше 30000 чаще других имеют просрочку по возврату кредита в срок. Люди, у которых уровнь дохода составляет от 30000–50000 реже имеют задолженности по кредитам, чем остальные группы людей.

### Влияние разных целей кредита на его возврат в срок

Создадим датафрейм

In [39]:
relat_purpose_debt = pd.DataFrame()

Создадим новый столбец group_purpose_count в таблице relat_purpose_debt. В данном столбце будет отображатся общее количество людей в каждой группе.

In [40]:
relat_purpose_debt['group_purpose_count'] = data.groupby('purpose_category')['debt'].count()

Создадим новый столбец debtors_count в таблице relat_income_debt. В данном столбце будет отображатся количество задолжников в каждой группе.

In [41]:
relat_purpose_debt['debtors_count'] = data.groupby('purpose_category')['debt'].sum()

Создадим новый столбец share_debtors в таблице relat_purpose_debt. В данном столбце будет отображатся доля задолжников от общего количества людей в каждой группе.

In [42]:
relat_purpose_debt['share_debtors'] = relat_purpose_debt['debtors_count'] / relat_purpose_debt['group_purpose_count']

Выведем на экран таблицу relat_purpose_debt, сортировав данные по доле задолжников (в порядке возрастания).

In [43]:
display(relat_purpose_debt.sort_values(by = 'share_debtors',ascending = False))

                          group_purpose_count  debtors_count  share_debtors
purpose_category
операции с автомобилем                   4279            400       0.093480
получение образования                    3988            369       0.092528
проведение свадьбы                       2313            183       0.079118
операции с недвижимостью                10751            780       0.072551

**Вывод:**  Люди, получающие кредит на образование и операции, связанные с автомобилем чаще имеют просрочку по возврату кредита в срок, в отличие от люде, берущих кредиты на проведение свадеб и операции с недвижимостью.

### Возможные причины появления пропусков в исходных данных

*Ответ:*  Так как пропуски в таблицы находятся в столбцах, связанных с трудовым стажем и ежемесячным доходом, то одной из возможных причин может быть сокрытие информации клиентом. 

Также еще одной возможной причиной может быть неправильный ввод информации или системный сбой.

### Почему заполнить пропуски медианным значением — лучшее решение для количественных переменных

*Ответ:*  Заполнять пропуски медианным значением лучше, чем среднем, так как в таблице могут быть данные, сильно отличающиеся от большинства. Из-за этого полученные данные среднем значением могут некорректно характеризовать данные.

## Общий вывод

Проделав всю работу, можно сделать вывод:
При оценке способности потенциального заёмщика вернуть кредит банку, необходимо уделять внимание семейному положению и количеству детей клиента, так как эти две характеристики влияют на факт погашения кредита в срок. 
Идеальным клиентом для банка является клиент без детей,бывший или находящийся в зарегистрированных отношениях, с уровнем дохода выше 30000, и получающий кредит на проведение свадеб и операции с недвижимостью.
Худшим клиентом является клиент с 1,2,4 детьми, неженатый или находящийся в гражданском браке, с уровнем дохода ниже 30000, и получающий кредит на образование и операции, связанные с автомобилем.